<div class="panel panel-primary">
  <div class="panel-heading">Welcome</div>
</div>
  <% if current_user.admin? %>
    <% @users.each do |user| %>
    <p><%= user.email %></p>
    <p> Admin: <%= user.admin %>
    <%= button_to "Change Status", users_change_status_path(@user), method: :put %>

    <button type="button">Student<%= %></button>
  <% end %>
  <hr>
    <p><%= 'Users:' %> <%= User.count %> registered</p>
    <% else %>
    <p><%= link_to current_user.email, user_path(current_user.id) %></p>
<% end %>
